@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
  color: white;
  overflow-x: hidden;
}

.movie-card {
  transition: all 0.2s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
  z-index: 10;
}

.category-row {
  scrollbar-width: none;
}

.category-row::-webkit-scrollbar {
  display: none;
}