@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
  color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
}

.movie-card {
  transition: all 0.2s ease-in-out;
  position: relative;
  aspect-ratio: 2/3;
  width: 100%;
}

.movie-card:hover {
  transform: scale(1.1);
  z-index: 50;
}

@media (min-width: 768px) {
  .movie-card:hover {
    transform: scale(1.2);
  }
}

.movie-card-container {
  padding: 0.2%;
  transition: transform 0.3s ease;
}

.category-row-container {
  margin-bottom: 3vw;
  position: relative;
}

.category-row-container:hover {
  z-index: 20;
}

.category-row-container:last-child {
  margin-bottom: 4vw;
}

.netflix-gradient {
  background: linear-gradient(77deg,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 85%);
}

.hero-gradient {
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(20,20,20,0.8) 50%,
    #141414 100%
  );
  pointer-events: none;
}

.modal-gradient {
  background: linear-gradient(to top, #141414 10%, transparent 90%);
}

html {
  scroll-behavior: smooth;
}