@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
  color: white;
  overflow-x: hidden;
}

.movie-card {
  transition: all 0.2s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
  z-index: 10;
}

.category-row {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.category-row::-webkit-scrollbar {
  display: none;
}

/* Add smooth scrolling to the entire page */
html {
  scroll-behavior: smooth;
}

/* Prevent content shift when modal opens */
body.modal-open {
  padding-right: var(--scrollbar-width);
}